docs/json/n8n/Lead Generator _ Web Development.json
{
  "name": "Lead Generator | Web Development",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// ===== Helper =====\nconst toArray = (v) => Array.isArray(v) ? v.filter(x => x !== null && x !== undefined && String(x).trim() !== '') : [];\nconst toInt = (v) => {\n  const n = Number.parseInt(v, 10);\n  return Number.isFinite(n) ? n : null;\n};\nconst clamp01 = (n) => n === null ? null : Math.max(0, Math.min(100, n));\nconst isPlainObject = (v) => v && typeof v === 'object' && !Array.isArray(v);\n\n// ===== 1) Input =====\nconst first = $input.first()?.json ?? {};\nlet content = first?.message?.content ?? first?.content ?? first;\nlet contentStr = typeof content === 'string' ? content : JSON.stringify(content);\n\n// ===== 2) Parse JSON dell’agente =====\nlet parsedData;\ntry {\n  parsedData = JSON.parse(contentStr);\n} catch (e) {\n  throw new Error('Content non è JSON valido: ' + e.message);\n}\n\n// ===== 3) Normalizzazione base =====\nconst riassunto = (parsedData.riassunto ?? '').toString();\nconst punti_debolezza = toArray(parsedData.punti_debolezza);\nconst punti_forza     = toArray(parsedData.punti_forza);\nconst opportunita     = toArray(parsedData.opportunita);\nconst azioni_rapide   = toArray(parsedData.azioni_rapide);\n\nconst countDebolezze   = punti_debolezza.length;\nconst countForze       = punti_forza.length;\nconst countOpp         = opportunita.length;\nconst countAzioni      = azioni_rapide.length;\nconst totaleElementi   = countDebolezze + countForze + countOpp + countAzioni;\n\n// ===== 4) Voti =====\nconst votoAnalisi = clamp01(toInt(parsedData.voto_qualita_analisi));\nconst votoDati    = clamp01(toInt(parsedData.voto_qualita_dati ?? parsedData.voto_qualita_input ?? parsedData.qualita_dati));\n\n// ===== 5) Numeri chiave (nuova struttura: {label, dato, fonte}) =====\nconst numeriChiaveObj = isPlainObject(parsedData.numeri_chiave) ? parsedData.numeri_chiave : {};\n\n// Repeater ACF: [ { chiave, label, dato, fonte } ]\nconst numeriChiaveRepeater = Object.entries(numeriChiaveObj).map(([chiave, voceRaw]) => {\n  const voce = isPlainObject(voceRaw) ? voceRaw : {};\n  return {\n    chiave,                                   // es. \"organic_ctr\"\n    label: (voce.label ?? chiave).toString(), // es. \"CTR organico\"\n    dato:  (voce.dato ?? null),               // numero o stringa\n    fonte: (voce.fonte ?? null)               // es. \"dato sito\", \"analisi\", \"stima\"\n  };\n});\n\n// Conserva il raw per audit / dashboard future\nlet numeriChiaveRawStr = '{}';\ntry { numeriChiaveRawStr = JSON.stringify(numeriChiaveObj); } catch { /* ignore */ }\n\n// ===== 6) Payload WordPress (ACF) =====\n// Adegua i nomi ai tuoi field keys ACF (eventualmente 'field_XXXX').\nconst wordpressData = {\n  acf: {\n    riassunto,\n\n    punti_debolezza,\n    count_punti_debolezza: countDebolezze,\n\n    punti_forza,\n    count_punti_forza: countForze,\n\n    opportunita,\n    count_opportunita: countOpp,\n\n    azioni_rapide,\n    count_azioni_rapide: countAzioni,\n\n    totale_elementi: totaleElementi,\n\n    // Doppi voti\n    voto_qualita_analisi: votoAnalisi,\n    voto_qualita_dati: votoDati,\n\n    // Numeri chiave (nuovo schema)\n    numeri_chiave: numeriChiaveRepeater,\n    numeri_chiave_count: numeriChiaveRepeater.length,\n    numeri_chiave_raw: numeriChiaveRawStr,\n\n    // Traccia l'output completo dell'agente per audit\n    output_agente_raw: contentStr\n  }\n};\n\n// ===== 7) Return =====\nreturn { json: wordpressData };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        -736
      ],
      "id": "ff1581ca-766b-4bd8-8f0d-c07def335c0e",
      "name": "Parsing"
    },
    {
      "parameters": {
        "url": "=https://lead.perspect.it/wp-json/wp/v2/azienda/{{ $json.body.company_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -624,
        -736
      ],
      "id": "6deff58f-d91a-4d6c-bb66-7ada8a0c41c3",
      "name": "Read Azienda WP",
      "credentials": {
        "httpBasicAuth": {
          "id": "3aI2CNmgXh2YqkjZ",
          "name": "Lead 18kPRo WP"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "web-development-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "6cba317d-9791-4785-8d0b-108d7199a66d",
      "name": "Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -848,
        -736
      ],
      "webhookId": "b709d3c4-49a0-4197-8e2b-26779704c899"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-search-api",
          "mode": "list",
          "cachedResultName": "GPT-5-SEARCH-API"
        },
        "messages": {
          "values": [
            {
              "content": "=Ruolo\nAgisci come un consulente strategico senior specializzato in analisi di aziende e siti web.\nOpera con mentalità analitica, approccio evidence-based, e rigore da top-tier consulting (McKinsey/BCG/Bain).\n\nIl tuo compito è analizzare il sito web dell'azienda e restituire un report completo su:\n\n- posizionamento e messaggi chiave\n- brand, tono e differenziazione\n- trust & proof (elementi che generano credibilità)\n- funnel e conversione\n- contenuti e thought-leadership\n- UX/UI e chiarezza narrativa\n- SEO e posizionamento organico\n- risk & gaps\n- piano operativo e raccomandazioni\n\nNon inventare informazioni.\nSe un dato non è visibile o verificabile, dichiaralo esplicitamente.\nSe fai un’inferenza, dichiarala come tale.\nEvita giudizi generici: tutto deve essere motivato e specifico.\n\nRestituisci l’analisi in sezioni:\n\n1) Sintesi Esecutiva\n- posizionamento percepito\n- target implicito\n- punti di forza\n- aree critiche\n- potenziale\n\n2) Brand & Posizionamento\n- messaggi principali\n- promessa di valore\n- tono di voce\n- differenziazione vs competitor generici del settore\n- coerenza comunicativa\n\n3) Credibilità & Trust\n\nValuta presenza/assenza di:\n- dati, numeri, risultati\n- case study\n- team e competenze\n- partner / certificazioni / media\n- testimonianze\n- trasparenza\n\n4) Funnel & Conversione\n- CTA primarie e secondarie\n- percorsi utente\n- frizione/ostacoli\n- moduli o lead magnet\n- qualità percepita del processo commerciale\n\n5) Contenuti\n- profondità / qualità\n- rilevanza per il pubblico\n- valore informativo\n- aggiornamento e consistenza\n- formati (testo, video, risorse …)\n\n6) SEO (alto livello)\n- cluster di contenuti visibili\n- parole chiave implicite\n- struttura di navigazione\n- opportunità strategiche\n\n7) UX / UI\n- chiarezza\n- leggibilità\n- gerarchia informativa\n- mobile experience (se evidente)\n\n8) Rischi & Red Flag\n\nIndica eventuali:\n- incoerenze\n- claim non provati\n- mancanza elementi critici per conversione/trust\n- aree che potrebbero generare sfiducia\n\n9) Opportunità e Raccomandazioni\n\nCategoria e priorità:\n- Quick wins (0–30 giorni)\n- Azioni prioritarie (30–90 giorni)\n- Strategia lungo termine (3–12 mesi)\n\n10) Domande Intelligenti al Cliente\n\n- Specifica cosa dovresti chiedere per completare l’analisi (dati mancanti).\n- Regole di comportamento\n\nNiente frasi vuote o generiche.\n\nNessuna supposizione spacciata per certezza.\n\nCita esempi presi dal sito quando supportano le conclusioni.\n\nSe mancano dati, segnala e proponi come ottenerli (es: “verifica pagina servizi / LinkedIn / press / Google”).",
              "role": "system"
            },
            {
              "content": "=Esegui un'analisi completa per la seguente azienda.\nIMPORTANTE: usa linguaggio business per CEO/titolari, NON tecnicismi sviluppatore.\n\nAzienda: {{ $json.acf.company_name_full }}\nProvincia: {{ $json.acf.province }}\nIndirizzo: {{ $json.acf.address }}\nP.IVA: {{ $json.acf.partita_iva }}\nDominio / Sito web: {{ $json.acf.domain }}\nTipo di business: {{ $json.acf.business_type }}\nSettore: {{ $json.acf.sector_specific }}\n\nLinkedin: {{ $json.acf.linkedin_url }}\nLink social: {{ $json.acf.social_links }}\n\nSintesi analisi azienda: {{ $json.acf.short_bio }}\n\nRispondi sempre in italiano. Mantieni l'inglese solo per termini tecnici che non si possono tradurre."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -400,
        -736
      ],
      "id": "c981c23d-8a86-4c54-8993-20cc58e7a119",
      "name": "Agente di analisi",
      "retryOnFail": true,
      "waitBetweenTries": 2500,
      "credentials": {
        "openAiApi": {
          "id": "YKH8CfczdzNM1zeT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "GPT-5"
        },
        "messages": {
          "values": [
            {
              "content": "=Agisci come un analista senior. Riceverai un JSON eterogeneo e dovrai distillarlo senza perdita di valore in un output strutturato. Scrivi sempre in italiano; mantieni l’inglese solo per termini tecnici intraducibili.\n\nObiettivo\nDato l’input, produci solo un JSON valido (nessun testo extra) con questo schema:\n\n{\n“riassunto”: “stringa di testo”,\n“punti_debolezza”: [“elemento1”, …],\n“punti_forza”: [“elemento1”, …],\n“opportunita”: [“elemento1”, …],\n“azioni_rapide”: [“elemento1”, …],\n“voto_qualita_analisi”: 0-100,\n“voto_qualita_dati”: 0-100,\n“numeri_chiave”: {\n“”: {\n“label”: “stringa”,\n“dato”: numero | stringa,\n“fonte”: “origine del dato o stima”\n}\n}\n}\n\nRegole\n\t•\tSolo JSON: nessun testo extra, nessuna spiegazione.\n\t•\tRiassunto ≤280 caratteri, chiaro, fattuale. Se dati mancanti: indica “dati limitati su …”.\n\t•\tpunti_debolezza / punti_forza: 3–8 voci ciascuna, una idea per riga, deduplicate, ordinate per impatto.\n\t•\topportunita: trend, gap competitivi, quick wins.\n\t•\tazioni_rapide: 3–7 task operativi ≤2 settimane, all’imperativo, opzionale metrica target.\n\t•\tnumeri_chiave: chiavi dinamiche snake_case (es. organic_ctr, brand_awareness_score). Non inserire tra i numeri chiave i dati aziendali già disponibili (ad esempio: indirizzo, p.iva, telefono.). Cerca di estrarre dei numeri chiave estremamente contestualizzati al tipo di analisi effettuata.\n\t•\tOgni metrica deve avere: label (testo), dato (numero o stringa), fonte (descrivi origine: “dato sito”, “deduzione analisi”, “stima”).\n\nVoto_qualita_analisi (0–100) — valuta la qualità dell’output\n\t•\tAccuratezza vs input (0–30)\n\t•\tStruttura e priorità (0–25)\n\t•\tAzionabilità (0–20)\n\t•\tSintesi e leggibilità (0–15)\n\t•\tCoerenza interna (0–10)\nSomma e arrotonda.\n\nVoto_qualita_dati (0–100) — valuta la qualità dell’input\n\t•\tCopertura dati (0–40)\n\t•\tCoerenza (0–25)\n\t•\tSpecificità e KPI (0–20)\n\t•\tFreschezza (0–15)\nSomma e arrotonda.\n\nValidazione finale\n\t•\tTutte le chiavi richieste presenti\n\t•\tOutput deve essere JSON valido, nessun testo fuori dal JSON\n\t•\tChiavi dinamiche correttamente formattate\n\nInput da analizzare:\n{{ $json.message.content }}",
              "role": "system"
            },
            {
              "content": "=Esegui l'analisi realtiva a questa azienda:\n\nCONTESTO AZIENDA:\n- Nome: {{ $('Read Azienda WP').item.json.title.rendered }}\n- Indirizzo: {{ $('Read Azienda WP').item.json.acf.address }}\n- P.IVA: {{ $('Read Azienda WP').item.json.acf.partita_iva }}\n- Sito web: {{ $('Read Azienda WP').item.json.acf.website }}\n- Business: {{ $('Read Azienda WP').item.json.acf.business_type }}\n- Settore: {{ $('Read Azienda WP').item.json.acf.sector_specific }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        304,
        -736
      ],
      "id": "73b13eb6-5e93-46fc-80cc-56f865d15d83",
      "name": "Agente di sintesi",
      "credentials": {
        "openAiApi": {
          "id": "YKH8CfczdzNM1zeT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "GPT-5"
        },
        "messages": {
          "values": [
            {
              "content": "=Agisci come revisore strategico senior di un’analisi digitale per un’agenzia di comunicazione.\n\nRicevi un’analisi già svolta. Il tuo compito NON è riscriverla da zero ma:\n- identificarne punti deboli, lentezze, ridondanze, errori o assunzioni\n- correggere assertività e tono quando non giustificati\n- eliminare frasi generiche o vuote\n- aggiungere insight mancanti utili per un team di branding/comunicazione, non tecnico\n- mantenere focus business e narrativa, non performance tecniche\n- verificare che ogni raccomandazione sia azionabile e rilevante per un’agenzia\n- evidenziare chiaramente dove mancano dati e cosa andrebbe richiesto al cliente\n- migliorare profondità e chiarezza, non prolissità\n\nStruttura sempre output come ANALISI MIGLIORATA in testo puro.\n\nLinee guida:\n- niente ripetizioni inutili\n- niente superlativi vuoti (“molto innovativo”, “sito ben fatto”)\n- ogni affermazione va supportata da esempio o evidenza\n- pensa sempre a posizionamento, messaggio, conversione, narrative, trust, valore percepito\n- non introdurre aspetti tecnici (Core Web Vitals, DNS, etc.) salvo abbiano impatto diretto sulla percezione e conversione\n\nFinale obbligatorio:\n- elenco “Domande critiche da porre al prospect”\n- elenco “Idee di valore da proporre come agenzia”\n- NO JSON (il JSON lo farà il passaggio successivo)",
              "role": "system"
            },
            {
              "content": "=Stai revisionando un’analisi digitale per supportare un approccio consulenziale verso un prospect di agenzia di comunicazione.\nNon devi rifare l’analisi da zero: devi migliorarla, renderla più incisiva, più strategica e orientata a business e posizionamento.\n\nInformazioni azienda:\nAzienda: {{ $('Read Azienda WP').item.json.title.rendered }}\nProvincia: {{ $('Read Azienda WP').item.json.acf.provincia }}\nIndirizzo: {{ $('Read Azienda WP').item.json.acf.address }}\nP.IVA: {{ $('Read Azienda WP').item.json.acf.partita_iva }}\nSito web: {{ $('Read Azienda WP').item.json.acf.website }}\nDominio: {{ $('Read Azienda WP').item.json.acf.domain }}\nMail aziendale: {{ $('Read Azienda WP').item.json.acf.email_azienda }}\nTipo di business: {{ $('Read Azienda WP').item.json.acf.business_type }}\nSettore: {{ $('Read Azienda WP').item.json.acf.sector_specific }}\n\nCanali principali:\nLinkedin: {{ $('Read Azienda WP').item.json.acf.linkedin_url }}\nFacebook: {{ $('Read Azienda WP').item.json.acf.facebook_url }}\nInstagram: {{ $('Read Azienda WP').item.json.acf.instagram_url }}\nYouTube: {{ $('Read Azienda WP').item.json.acf.youtube_url }}\n\nSintesi iniziale dell’analisi aziendale: {{ $('Read Azienda WP').item.json.acf.key_factor_analisi }}\n\nTask principale:\nRaffina e potenzia l’analisi seguente. Rendi il contenuto:\n\t•\tpiù strategico e consulenziale\n\t•\tfocalizzato su branding, comunicazione, posizionamento, lead generation e percezione del valore\n\t•\tconcreto e orientato ai decisori aziendali (CEO/CMO)\n\t•\tpulito da ipotesi deboli, frasi generiche e ambiguità\n\t•\tprioritizzato per impatto business\n\t•\tchiaro nel mostrare dove mancano dati e quali informazioni servono\n\nEvita tecnicismi da sviluppatore o dettagli troppo “tech”; privilegia visione, posizionamento, messaggio, customer journey, conversione e trust.\n\nOutput richiesto:\nTesto analitico raffinato (non JSON).\nAlla fine aggiungi due sezioni:\n\t1.\tDomande critiche da porre al prospect (max 10 bullet)\n\t2.\tIdee di valore da proporre come agenzia (max 10 bullet)\n\nNon aggiungere altro.\n\nAnalisi da revisionare:\n{{ $json.message.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -48,
        -736
      ],
      "id": "cd6049b9-6ac9-44ba-bd89-b529ecda74cd",
      "name": "Agente di revisione",
      "credentials": {
        "openAiApi": {
          "id": "YKH8CfczdzNM1zeT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.is_update ? 'https://lead.perspect.it/wp-json/wp/v2/analisi/' + $json.existing_analysis_id : 'https://lead.perspect.it/wp-json/wp/v2/analisi' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('Read Azienda WP').item.json.title.rendered }} - Web Analysis"
            },
            {
              "name": "status",
              "value": "publish"
            },
            {
              "name": "agent_type",
              "value": "=7"
            },
            {
              "name": "acf[riassunto]",
              "value": "={{ $json.acf.riassunto }}"
            },
            {
              "name": "acf[punti_di_debolezza]",
              "value": "={{ $json.acf.punti_debolezza }}"
            },
            {
              "name": "acf[punti_di_forza]",
              "value": "={{ $json.acf.punti_forza }}"
            },
            {
              "name": "acf[opportunita]",
              "value": "={{ $json.acf.opportunita }}"
            },
            {
              "name": "acf[azioni_rapide]",
              "value": "={{ $json.acf.azioni_rapide }}"
            },
            {
              "name": "acf[parent_company_id]",
              "value": "={{ $('Read Azienda WP').item.json.id }}"
            },
            {
              "name": "acf[numero_punti_di_debolezza]",
              "value": "={{ $json.acf.count_punti_debolezza }}"
            },
            {
              "name": "acf[numero_punti_di_forza]",
              "value": "={{ $json.acf.count_punti_forza }}"
            },
            {
              "name": "acf[numero_opportunita]",
              "value": "={{ $json.acf.count_opportunita }}"
            },
            {
              "name": "acf[numero_azioni_rapide]",
              "value": "={{ $json.acf.count_azioni_rapide }}"
            },
            {
              "name": "acf[voto_qualita_analisi]",
              "value": "={{ $json.acf.voto_qualita_analisi }}"
            },
            {
              "name": "acf[analisy_perplexity_deep_research]",
              "value": "={{ $('Agente di analisi').item.json.message.content }}"
            },
            {
              "name": "acf[json_dati_strutturati]",
              "value": "={{ $json.acf.numeri_chiave_raw }}"
            },
            {
              "name": "acf[revisione_analisi_completa]",
              "value": "={{ $('Agente di revisione').item.json.message.content }}"
            },
            {
              "name": "acf[qualita_dati]",
              "value": "={{ $json.acf.voto_qualita_dati }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        -736
      ],
      "id": "739b8df6-6503-46e5-ad79-482568e43271",
      "name": "Upsert WP",
      "credentials": {
        "httpBasicAuth": {
          "id": "3aI2CNmgXh2YqkjZ",
          "name": "Lead 18kPRo WP"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const statusCode = $json.statusCode ?? 0;\nconst ok = statusCode >= 200 && statusCode < 300;\nconst body = $json.body ?? {};\nconst analysisId = body?.id ?? null;\nconst analysisLink = body?.link ?? null;\nconst message = ok\n  ? (body?.message || 'OK')\n  : (body?.message || body?.data?.message || 'Errore upsert');\n\nreturn [{\n  json: {\n    upsert_ok: ok,\n    upsert_status_code: statusCode,\n    upsert_message: message,\n    analysis_id: analysisId,\n    analysis_link: analysisLink,\n    upsert_raw: body,\n    upsert_at_iso: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        -736
      ],
      "id": "9e728551-9aee-417c-9883-5f8890b592a2",
      "name": "Compose Upsert Result"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": {{ $json.upsert_ok }},\n  \"status\": {{ $json.upsert_status_code }},\n  \"message\": \"{{ $json.upsert_message }}\"\n}",
        "options": {
          "responseCode": "={{ $json.upsert_status_code || 200 }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1328,
        -640
      ],
      "id": "e2a3f703-bd2c-46ea-bb4f-05792eabbfb9",
      "name": "Return Status"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://lead.perspect.it/wp-json/wp/v2/azienda/{{ $('Read Azienda WP').item.json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "acf[analysis_last_status_code]",
              "value": "={{ $json.upsert_status_code }}"
            },
            {
              "name": "acf[analysis_last_message]",
              "value": "={{ $json.upsert_message }}"
            },
            {
              "name": "acf[analysis_last_at]",
              "value": "={{ $json.upsert_at_iso }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        -832
      ],
      "id": "9e3da71d-931d-4ed8-91e3-8c625254b1dc",
      "name": "Log Upsert Result WP",
      "credentials": {
        "httpBasicAuth": {
          "id": "3aI2CNmgXh2YqkjZ",
          "name": "Lead 18kPRo WP"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Parsing": {
      "main": [
        [
          {
            "node": "Upsert WP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Azienda WP": {
      "main": [
        [
          {
            "node": "Agente di analisi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger": {
      "main": [
        [
          {
            "node": "Read Azienda WP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente di analisi": {
      "main": [
        [
          {
            "node": "Agente di revisione",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente di sintesi": {
      "main": [
        [
          {
            "node": "Parsing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente di revisione": {
      "main": [
        [
          {
            "node": "Agente di sintesi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose Upsert Result": {
      "main": [
        [
          {
            "node": "Log Upsert Result WP",
            "type": "main",
            "index": 0
          },
          {
            "node": "Return Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert WP": {
      "main": [
        [
          {
            "node": "Compose Upsert Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2bec89b2-4e73-42b6-bf36-28d3ff47c5a3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fe117d56aad4346ee596609bb8c3079d6edd34e383a675201472f524674346cc"
  },
  "id": "gtc7veJeOqrWIYtx",
  "tags": []
}