docs/json/n8n/Lead Generator _ ESG.json
{
  "name": "Lead Generator | ESG",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-search-api",
          "mode": "list",
          "cachedResultName": "GPT-5-SEARCH-API"
        },
        "messages": {
          "values": [
            {
              "content": "=Ruolo\nAgisci come un consulente strategico senior specializzato in comunicazione della sostenibilità (ESG).\nOpera con mentalità analitica, approccio evidence-based e rigore da top-tier consulting (McKinsey/BCG/Bain).\n\nIl tuo compito è analizzare come l’azienda comunica i temi ESG e restituire un report completo su:\n\t•\tstrategia, posizionamento e messaggi chiave ESG\n\t•\tbrand, tono e differenziazione valoriale\n\t•\ttrust & proof (evidenze, KPI, certificazioni, partnership, governance)\n\t•\tcoerenza tra dichiarazioni e azioni (rischio greenwashing)\n\t•\tcontenuti, thought-leadership e storytelling di impatto\n\t•\tingaggio stakeholder e canali (sito, social, media, report, eventi)\n\t•\trischi & gap reputazionali\n\t•\tpiano operativo e raccomandazioni per l’agenzia\n\nNon inventare informazioni.\nSe un dato non è visibile o verificabile, dichiaralo esplicitamente.\nSe fai un’inferenza, dichiarala come tale.\nEvita giudizi generici: ogni conclusione deve essere motivata e specifica con riferimento alla fonte.\n\nRestituisci l’analisi in sezioni:\n\t1.\tSintesi Esecutiva\n\n\t•\tlivello di integrazione ESG nella comunicazione (basso/medio/alto)\n\t•\tposizionamento percepito e narrative dominante\n\t•\tpunti di forza\n\t•\taree critiche\n\t•\tpotenziale e direzione consigliata\n\n\t2.\tStrategia & Posizionamento ESG\n\n\t•\tmessaggi principali e promessa di valore legata all’impatto\n\t•\trilevanza per i target (clienti, talenti, partner, istituzioni)\n\t•\tallineamento a standard/framework comunicati (es. SDG, CSRD/ESRS a livello narrativo, UNGC)\n\t•\tdifferenziazione vs competitor generici del settore\n\t•\tcoerenza cross-canale\n\n\t3.\tGovernance & Trasparenza (prospettiva comunicativa)\nValuta presenza/assenza e qualità di:\n\n\t•\tresponsabilità e ruoli (comitati, referenti, policy pubbliche)\n\t•\tetica e compliance (codice etico, anticorruzione, privacy, supply chain)\n\t•\tmetriche e obiettivi dichiarati (baseline, target, scadenze)\n\t•\tmodalità di rendicontazione (report di sostenibilità/ESG page, frequenza, anno più recente)\n\n\t4.\tProve & Credibilità (Trust & Proof)\nValuta evidenze concrete:\n\n\t•\tKPI ambientali, sociali, governance (anche qualitativi)\n\t•\tcertificazioni (es. ISO 14001/45001/9001, B Corp, SA8000, Ecovadis)\n\t•\tcase reali/progetti, partner, audit/assurance, media mention\n\t•\ttestimonianze, premi, membership (es. associazioni di settore)\n\n\t5.\tContenuti & Storytelling ESG\n\n\t•\tprofondità/qualità (dati, obiettivi, risultati, trade-off)\n\t•\tfocus tematici (E/S/G): clima/energia, circolarità, sicurezza, people & DEI, comunità, supply chain, ecc.\n\t•\taggiornamento e consistenza editoriale\n\t•\tformati (pagine dedicate, report, blog, video, infografiche, campagne, eventi)\n\n\t6.\tCanali & Ingaggio Stakeholder\n\n\t•\tcopertura canali (sito, LinkedIn, YouTube/Instagram, press/newsroom, eventi/fiere)\n\t•\tcoerenza narrativa e call-to-action (es. “Scopri il report”, “Partecipa all’iniziativa”)\n\t•\tsegnali di advocacy/leadership (position paper, opinioni, partnership pubblico-private)\n\n\t7.\tCoerenza & Rischio Greenwashing\nIndica eventuali:\n\n\t•\tclaim non provati o vaghi\n\t•\tassenza di baseline/metriche/obiettivi\n\t•\tdisallineamenti tra promesse e pratiche visibili\n\t•\tambiguità, cherry picking, metriche non comparabili\n\n\t8.\tOpportunità e Raccomandazioni (per l’agenzia)\nCategoria e priorità:\n\n\t•\tQuick wins (0–30 giorni)\n\t•\tAzioni prioritarie (30–90 giorni)\n\t•\tStrategia lungo termine (3–12 mesi)\nIncludi: architettura narrativa ESG, proofbook/matrice evidenze, piano contenuti tematici, format editoriali, linee guida tono/visual, roadmap KPI comunicabili, campagne/attivazioni.\n\n\t9.\tBenchmark & Best Practice (se reperibili)\n\n\t•\t2–3 riferimenti sintetici di settore utili alla direzione di miglioramento\n\t•\tspiega l’applicabilità al caso analizzato\n\n\t10.\tDomande Intelligenti al Cliente\n\n\t•\tcosa serve per completare il quadro (policy, KPI, audit, piani, vincoli, rischi, stakeholder interni)\n\nRegole di comportamento\n\t•\tNiente frasi vuote o generiche.\n\t•\tNessuna supposizione spacciata per certezza.\n\t•\tCita esempi/pagine quando supportano le conclusioni (URL o sezione).\n\t•\tSe mancano dati, segnala e proponi come ottenerli (es: “verifica ESG page/report / LinkedIn / press / fornitori / associazioni di settore”).",
              "role": "system"
            },
            {
              "content": "=Esegui un’analisi ESG completa per la seguente azienda.\nIMPORTANTE: usa linguaggio business e consulenziale per CEO o titolari, evitando tecnicismi ambientali o normativi.\nConcentra l’analisi sulla comunicazione della sostenibilità, sulla credibilità narrativa e sulle opportunità di posizionamento reputazionale.\n\nAzienda: {{ $json.acf.company_name_full }}\nProvincia: {{ $json.acf.province }}\nIndirizzo: {{ $json.acf.address }}\nP.IVA: {{ $json.acf.partita_iva }}\nDominio / Sito web: {{ $json.acf.domain }}\nTipo di business: {{ $json.acf.business_type }}\nSettore: {{ $json.acf.sector_specific }}\n\nLinkedin: {{ $json.acf.linkedin_url }}\nLink social: {{ $json.acf.social_links }}\n\nSintesi analisi azienda: {{ $json.acf.short_bio }}\n\nRispondi sempre in italiano. Mantieni l’inglese solo per termini tecnici non traducibili (es. ESG, KPI, stakeholder engagement, storytelling).\nConduci una valutazione completa su: tono, autenticità, coerenza, trust, narrative ESG, e potenziale di sviluppo reputazionale e comunicativo."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1728,
        -400
      ],
      "id": "197cfef7-0f80-4d48-9410-3fa16f767a0c",
      "name": "Agente di analisi",
      "retryOnFail": true,
      "waitBetweenTries": 2500,
      "credentials": {
        "openAiApi": {
          "id": "YKH8CfczdzNM1zeT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "GPT-5"
        },
        "messages": {
          "values": [
            {
              "content": "=Agisci come revisore strategico senior di un’analisi ESG per un’agenzia di comunicazione.\n\nRicevi un’analisi ESG già svolta. Il tuo compito NON è riscriverla da zero ma:\n\t•\tidentificare punti deboli, ridondanze, errori, assunzioni non fondate o claim vaghi\n\t•\tcorreggere tono e assertività quando eccessivi o non supportati da evidenze\n\t•\teliminare frasi generiche (“impegno per la sostenibilità”, “attenzione all’ambiente”) sostituendole con insight più concreti\n\t•\taggiungere osservazioni e spunti utili per un team di branding, comunicazione e reputation management\n\t•\tmantenere il focus su percezione, messaggio, narrativa, trust e posizionamento ESG\n\t•\tverificare che ogni raccomandazione sia azionabile e rilevante per un’agenzia\n\t•\tevidenziare chiaramente dove mancano dati, prove o KPI, e cosa dovrebbe essere richiesto all’azienda\n\t•\tmigliorare profondità, chiarezza e taglio consulenziale, non prolissità\n\nStruttura sempre l’output come ANALISI MIGLIORATA in testo puro.\n\nLinee guida:\n\t•\tniente ripetizioni o slogan vuoti (“azienda sostenibile”, “impegno costante”)\n\t•\tniente superlativi o espressioni autoreferenziali (“eccellenza”, “leader”, “molto innovativo”)\n\t•\togni affermazione deve essere motivata con esempi o evidenze tratte da fonti pubbliche\n\t•\tmantieni una visione strategica: posizionamento, reputazione, narrativa, trust, coerenza comunicativa\n\t•\tnon introdurre aspetti tecnici (metriche ambientali, normative, dati LCA) salvo abbiano impatto diretto sulla comunicazione o sulla credibilità percepita\n\nFinale obbligatorio:\n\t•\telenco “Domande critiche da porre al prospect” (max 10 bullet mirate a colmare gap di dati, governance o comunicazione)\n\t•\telenco “Idee di valore da proporre come agenzia” (max 10 bullet di proposte operative o narrative)\n\t•\tNO JSON (il JSON verrà generato nel passaggio successivo)",
              "role": "system"
            },
            {
              "content": "=Stai revisionando un’analisi ESG per supportare un approccio consulenziale verso un prospect di agenzia di comunicazione.\nNon devi rifare l’analisi da zero: devi migliorarla, renderla più incisiva, più strategica e orientata a reputazione, posizionamento e valore percepito.\n\nInformazioni azienda:\nAzienda: {{ $('Read Azienda WP').item.json.acf.company_name_full }}\nProvincia: {{ $('Read Azienda WP').item.json.acf.province }}\nIndirizzo: {{ $('Read Azienda WP').item.json.acf.address }}\nP.IVA: {{ $('Read Azienda WP').item.json.acf.partita_iva }}\nSito web: {{ $('Read Azienda WP').item.json.acf.domain }}\nTipo di business: {{ $('Read Azienda WP').item.json.acf.business_type }}\nSettore: {{ $('Read Azienda WP').item.json.acf.sector_specific }}\n\nCanali principali:\nLinkedin: {{ $('Read Azienda WP').item.json.acf.linkedin_url }}\n\n\nSintesi iniziale dell’analisi aziendale: \n\nTask principale:\nRaffina e potenzia l’analisi ESG seguente. Rendi il contenuto:\n• più strategico e consulenziale, adatto a un contesto di comunicazione aziendale e reputazionale\n• focalizzato su branding, comunicazione valoriale, posizionamento ESG e trust narrativo\n• concreto e orientato ai decisori aziendali (CEO/CMO/CSR Manager)\n• pulito da ipotesi deboli, vaghezze o affermazioni non supportate da evidenze\n• prioritizzato per impatto sulla reputazione e sulla coerenza comunicativa\n• chiaro nel mostrare dove mancano dati, prove o metriche ESG comunicabili\n\nEvita tecnicismi normativi o ambientali (LCA, Scope, CSRD, ecc.), a meno che non influenzino la percezione o la comunicazione.\nPrivilegia visione strategica, messaggio, storytelling, autenticità, coerenza e credibilità.\n\nOutput richiesto:\nTesto analitico raffinato (non JSON).\nAlla fine aggiungi due sezioni:\n\t1.\tDomande critiche da porre al prospect (max 10 bullet, orientate a gap informativi o reputazionali)\n\t2.\tIdee di valore da proporre come agenzia (max 10 bullet, focalizzate su opportunità narrative, campagne, proof e posizionamento ESG)\n\nNon aggiungere altro.\n\nAnalisi da revisionare:\n{{ $json.message.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1376,
        -400
      ],
      "id": "9476b6e3-6d73-4b42-b28e-154f115ba992",
      "name": "Agente di revisione",
      "credentials": {
        "openAiApi": {
          "id": "YKH8CfczdzNM1zeT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const statusCode = $json.statusCode ?? 0;\nconst ok = statusCode >= 200 && statusCode < 300;\nconst body = $json.body ?? {};\nconst analysisId = body?.id ?? null;\nconst analysisLink = body?.link ?? null;\nconst message = ok\n  ? (body?.message || 'OK')\n  : (body?.message || body?.data?.message || 'Errore upsert');\n\nreturn [{\n  json: {\n    upsert_ok: ok,\n    upsert_status_code: statusCode,\n    upsert_message: message,\n    analysis_id: analysisId,\n    analysis_link: analysisLink,\n    upsert_raw: body,\n    upsert_at_iso: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        -400
      ],
      "id": "1d31df3b-e3ef-4dd0-bc95-9c83b1f2d6cf",
      "name": "Compose Upsert Result"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": {{ $json.upsert_ok }},\n  \"status\": {{ $json.upsert_status_code }},\n  \"message\": \"{{ $json.upsert_message }}\"\n}",
        "options": {
          "responseCode": "={{ $json.upsert_status_code || 200 }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        0,
        -304
      ],
      "id": "2029850b-e1f4-486d-8b0c-d6c2383e22c2",
      "name": "Return Status"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://lead.perspect.it/wp-json/wp/v2/azienda/{{ $('Read Azienda WP').item.json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "acf[analysis_last_status_code]",
              "value": "={{ $json.upsert_status_code }}"
            },
            {
              "name": "acf[analysis_last_message]",
              "value": "={{ $json.upsert_message }}"
            },
            {
              "name": "acf[analysis_last_at]",
              "value": "={{ $json.upsert_at_iso }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        -496
      ],
      "id": "a58839fb-263e-4b10-a257-bcdef46c0cfc",
      "name": "Log Upsert Result WP",
      "credentials": {
        "httpBasicAuth": {
          "id": "3aI2CNmgXh2YqkjZ",
          "name": "Lead 18kPRo WP"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "esg-sustainability-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "95dd0e54-195c-487f-b85b-4b355890b978",
      "name": "Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -2176,
        -400
      ],
      "webhookId": "b709d3c4-49a0-4197-8e2b-26779704c899"
    },
    {
      "parameters": {
        "url": "=https://lead.perspect.it/wp-json/wp/v2/azienda/{{ $json.body.company_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1952,
        -400
      ],
      "id": "a01139f9-d8ff-4ad8-913d-43aab7592541",
      "name": "Read Azienda WP",
      "credentials": {
        "httpBasicAuth": {
          "id": "3aI2CNmgXh2YqkjZ",
          "name": "Lead 18kPRo WP"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "GPT-5"
        },
        "messages": {
          "values": [
            {
              "content": "=Agisci come un analista senior specializzato in valutazioni ESG e comunicazione della sostenibilità.\nRiceverai un testo eterogeneo e dovrai distillarlo senza perdita di valore in un output strutturato.\nScrivi sempre in italiano; mantieni l’inglese solo per termini tecnici intraducibili (es. ESG, KPI, stakeholder engagement).\n\nObiettivo\nDato l’input, produci solo un JSON valido (nessun testo extra) con questo schema:\n\n{\n“riassunto”: “stringa di testo”,\n“punti_debolezza”: [“elemento1”, …],\n“punti_forza”: [“elemento1”, …],\n“opportunita”: [“elemento1”, …],\n“azioni_rapide”: [“elemento1”, …],\n“voto_qualita_analisi”: 0-100,\n“voto_qualita_dati”: 0-100,\n“numeri_chiave”: {\n“”: {\n“label”: “stringa”,\n“dato”: numero | stringa,\n“fonte”: “origine del dato o stima”\n}\n}\n}\n\nRegole\n• Solo JSON: nessun testo extra, nessuna spiegazione.\n• Riassunto ≤280 caratteri, chiaro e fattuale; se informazioni limitate, scrivi “dati limitati su …”.\n• punti_debolezza / punti_forza: 3–8 voci ciascuna, concise, deduplicate e ordinate per impatto comunicativo o reputazionale.\n• opportunita: evidenzia trend, gap comunicativi, miglioramenti possibili o quick wins ESG.\n• azioni_rapide: 3–7 task concreti e operativi, orientati alla comunicazione ESG, al trust e alla reputazione (≤2 settimane).\n• numeri_chiave: chiavi dinamiche snake_case (es. sustainability_mentions, esg_visibility_score, stakeholder_engagement_rate).\n - Non includere dati anagrafici o identificativi.\n - Le metriche devono rappresentare indicatori ESG comunicativi o reputazionali.\n - Ogni metrica deve avere: label (testo), dato (numero o stringa), fonte (es. “dato sito”, “deduzione analisi”, “stima”).\n\nVoto_qualita_analisi (0–100) — valuta la qualità dell’analisi ESG\n• Accuratezza e coerenza (0–30)\n• Struttura e priorità (0–25)\n• Azionabilità delle raccomandazioni (0–20)\n• Sintesi e leggibilità (0–15)\n• Profondità strategica (0–10)\nSomma e arrotonda.\n\nVoto_qualita_dati (0–100) — valuta la qualità dell’input ESG\n• Copertura e completezza delle fonti (0–40)\n• Coerenza narrativa (0–25)\n• Specificità e presenza di KPI o proof (0–20)\n• Aggiornamento e trasparenza (0–15)\nSomma e arrotonda.\n\nValidazione finale\n• Tutte le chiavi richieste devono essere presenti.\n• L’output deve essere un JSON valido, senza testo o commenti esterni.\n• Le chiavi dinamiche devono rispettare il formato snake_case.\n\nInput da analizzare:\n{{ $json.message.content }}",
              "role": "system"
            },
            {
              "content": "=Esegui l’analisi ESG relativa a questa azienda:\n\nCONTESTO AZIENDA:\n\t•\tNome: {{ $('Read Azienda WP').item.json.acf.company_name_full }}\n\t•\tIndirizzo: {{ $('Read Azienda WP').item.json.acf.address }}\n\t•\tP.IVA: {{ $('Read Azienda WP').item.json.acf.partita_iva }}\n\t•\tSito web: {{ $('Read Azienda WP').item.json.acf.domain }}\n\t•\tBusiness: {{ $('Read Azienda WP').item.json.acf.business_type }}\n\t•\tSettore: {{ $('Read Azienda WP').item.json.acf.sector_specific }}\n\nAnalizza il contenuto in ottica di comunicazione ESG.\nEstrarre e sintetizzare:\n\t•\tpunti di forza e debolezza nella narrativa di sostenibilità\n\t•\topportunità di posizionamento e reputazione\n\t•\tazioni rapide di miglioramento comunicativo\n\t•\teventuali indicatori ESG comunicativi (es. citazioni di sostenibilità, report pubblici, partnership, KPI, premi, advocacy, governance comunicata)\n\nMantieni focus su percezione, autenticità, trust, storytelling e coerenza ESG.\nNon introdurre dati tecnici o ambientali complessi: l’obiettivo è una lettura comunicativa e strategica.\nRispondi esclusivamente con il JSON strutturato secondo il formato definito dal prompt di sistema."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1024,
        -400
      ],
      "id": "5701b00b-b76f-44b6-9b04-bd50233d240c",
      "name": "Agente di sintesi",
      "credentials": {
        "openAiApi": {
          "id": "YKH8CfczdzNM1zeT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ===== Helper =====\nconst toArray = (v) => Array.isArray(v) ? v.filter(x => x !== null && x !== undefined && String(x).trim() !== '') : [];\nconst toInt = (v) => {\n  const n = Number.parseInt(v, 10);\n  return Number.isFinite(n) ? n : null;\n};\nconst clamp01 = (n) => n === null ? null : Math.max(0, Math.min(100, n));\nconst isPlainObject = (v) => v && typeof v === 'object' && !Array.isArray(v);\n\n// ===== 1) Input =====\nconst first = $input.first()?.json ?? {};\nlet content = first?.message?.content ?? first?.content ?? first;\nlet contentStr = typeof content === 'string' ? content : JSON.stringify(content);\n\n// ===== 2) Parse JSON dell’agente =====\nlet parsedData;\ntry {\n  parsedData = JSON.parse(contentStr);\n} catch (e) {\n  throw new Error('Content non è JSON valido: ' + e.message);\n}\n\n// ===== 3) Normalizzazione base =====\nconst riassunto = (parsedData.riassunto ?? '').toString();\nconst punti_debolezza = toArray(parsedData.punti_debolezza);\nconst punti_forza     = toArray(parsedData.punti_forza);\nconst opportunita     = toArray(parsedData.opportunita);\nconst azioni_rapide   = toArray(parsedData.azioni_rapide);\n\nconst countDebolezze   = punti_debolezza.length;\nconst countForze       = punti_forza.length;\nconst countOpp         = opportunita.length;\nconst countAzioni      = azioni_rapide.length;\nconst totaleElementi   = countDebolezze + countForze + countOpp + countAzioni;\n\n// ===== 4) Voti =====\nconst votoAnalisi = clamp01(toInt(parsedData.voto_qualita_analisi));\nconst votoDati    = clamp01(toInt(parsedData.voto_qualita_dati ?? parsedData.voto_qualita_input ?? parsedData.qualita_dati));\n\n// ===== 5) Numeri chiave (nuova struttura: {label, dato, fonte}) =====\nconst numeriChiaveObj = isPlainObject(parsedData.numeri_chiave) ? parsedData.numeri_chiave : {};\n\n// Repeater ACF: [ { chiave, label, dato, fonte } ]\nconst numeriChiaveRepeater = Object.entries(numeriChiaveObj).map(([chiave, voceRaw]) => {\n  const voce = isPlainObject(voceRaw) ? voceRaw : {};\n  return {\n    chiave,                                   // es. \"organic_ctr\"\n    label: (voce.label ?? chiave).toString(), // es. \"CTR organico\"\n    dato:  (voce.dato ?? null),               // numero o stringa\n    fonte: (voce.fonte ?? null)               // es. \"dato sito\", \"analisi\", \"stima\"\n  };\n});\n\n// Conserva il raw per audit / dashboard future\nlet numeriChiaveRawStr = '{}';\ntry { numeriChiaveRawStr = JSON.stringify(numeriChiaveObj); } catch { /* ignore */ }\n\n// ===== 6) Payload WordPress (ACF) =====\n// Adegua i nomi ai tuoi field keys ACF (eventualmente 'field_XXXX').\nconst wordpressData = {\n  acf: {\n    riassunto,\n\n    punti_debolezza,\n    count_punti_debolezza: countDebolezze,\n\n    punti_forza,\n    count_punti_forza: countForze,\n\n    opportunita,\n    count_opportunita: countOpp,\n\n    azioni_rapide,\n    count_azioni_rapide: countAzioni,\n\n    totale_elementi: totaleElementi,\n\n    // Doppi voti\n    voto_qualita_analisi: votoAnalisi,\n    voto_qualita_dati: votoDati,\n\n    // Numeri chiave (nuovo schema)\n    numeri_chiave: numeriChiaveRepeater,\n    numeri_chiave_count: numeriChiaveRepeater.length,\n    numeri_chiave_raw: numeriChiaveRawStr,\n\n    // Traccia l'output completo dell'agente per audit\n    output_agente_raw: contentStr\n  }\n};\n\n// ===== 7) Return =====\nreturn { json: wordpressData };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        -400
      ],
      "id": "b17ce2d9-18a2-4d77-a91c-5044f5d1539c",
      "name": "Parsing"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.is_update ? 'https://lead.perspect.it/wp-json/wp/v2/analisi/' + $json.existing_analysis_id : 'https://lead.perspect.it/wp-json/wp/v2/analisi' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('Read Azienda WP').item.json.title.rendered }} - Analisi ESG"
            },
            {
              "name": "status",
              "value": "publish"
            },
            {
              "name": "agent_type",
              "value": "=10"
            },
            {
              "name": "acf[riassunto]",
              "value": "={{ $json.acf.riassunto }}"
            },
            {
              "name": "acf[punti_di_debolezza]",
              "value": "={{ $json.acf.punti_debolezza }}"
            },
            {
              "name": "acf[punti_di_forza]",
              "value": "={{ $json.acf.punti_forza }}"
            },
            {
              "name": "acf[opportunita]",
              "value": "={{ $json.acf.opportunita }}"
            },
            {
              "name": "acf[azioni_rapide]",
              "value": "={{ $json.acf.azioni_rapide }}"
            },
            {
              "name": "acf[parent_company_id]",
              "value": "={{ $('Read Azienda WP').item.json.id }}"
            },
            {
              "name": "acf[numero_punti_di_debolezza]",
              "value": "={{ $json.acf.count_punti_debolezza }}"
            },
            {
              "name": "acf[numero_punti_di_forza]",
              "value": "={{ $json.acf.count_punti_forza }}"
            },
            {
              "name": "acf[numero_opportunita]",
              "value": "={{ $json.acf.count_opportunita }}"
            },
            {
              "name": "acf[numero_azioni_rapide]",
              "value": "={{ $json.acf.count_azioni_rapide }}"
            },
            {
              "name": "acf[voto_qualita_analisi]",
              "value": "={{ $json.acf.voto_qualita_analisi }}"
            },
            {
              "name": "acf[analisy_perplexity_deep_research]",
              "value": "={{ $('Agente di analisi').item.json.message.content }}"
            },
            {
              "name": "acf[json_dati_strutturati]",
              "value": "={{ $json.acf.numeri_chiave_raw }}"
            },
            {
              "name": "acf[revisione_analisi_completa]",
              "value": "={{ $('Agente di revisione').item.json.message.content }}"
            },
            {
              "name": "acf[qualita_dati]",
              "value": "={{ $json.acf.voto_qualita_dati }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        -400
      ],
      "id": "db8b12c3-4d2f-432b-b1b7-4315eb53aa6b",
      "name": "Upsert WP",
      "credentials": {
        "httpBasicAuth": {
          "id": "3aI2CNmgXh2YqkjZ",
          "name": "Lead 18kPRo WP"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Agente di analisi": {
      "main": [
        [
          {
            "node": "Agente di revisione",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente di revisione": {
      "main": [
        [
          {
            "node": "Agente di sintesi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose Upsert Result": {
      "main": [
        [
          {
            "node": "Log Upsert Result WP",
            "type": "main",
            "index": 0
          },
          {
            "node": "Return Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger": {
      "main": [
        [
          {
            "node": "Read Azienda WP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Azienda WP": {
      "main": [
        [
          {
            "node": "Agente di analisi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente di sintesi": {
      "main": [
        [
          {
            "node": "Parsing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsing": {
      "main": [
        [
          {
            "node": "Upsert WP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert WP": {
      "main": [
        [
          {
            "node": "Compose Upsert Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "45290561-6240-40b4-bada-06e08f09cc81",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fe117d56aad4346ee596609bb8c3079d6edd34e383a675201472f524674346cc"
  },
  "id": "mJglX4cN7zFyBRyQ",
  "tags": []
}